/Asesorias1/nbproject/private/
/EjemplosArray1/nbproject/private/
/Algoritmos1/nbproject/private/
/Areadetriangulo2/nbproject/private/
/Areadeltriangulo1/nbproject/private/
/Areadeltriangulo2/nbproject/private/
/ArrayAños/dist/
/Arrays/dist/
/Arreglos1/dist/
/Arreglos2/dist/
/Arreglos3/dist/
/Asesorias1/dist/
/Asesorias2/dist/
/AsesoriasArreglos/dist/
/Cambio/dist/
/Ciclo/dist/
/Ciclos/dist/
/Clases/dist/
/Colores/dist/
/Condicion/dist/
