/Asesorias1/nbproject/private/
/EjemplosArray1/nbproject/private/
/Algoritmos1/nbproject/private/
/Areadetriangulo2/nbproject/private/
/Areadeltriangulo1/nbproject/private/
/Areadeltriangulo2/nbproject/private/
/DatosBoleanos2/build/
/EjemplosArray1/build/
/AreadelTriangulo2/nbproject/private/
/Algoritmos1/build/
/Algoritmos2/build/
/Aplicacion/build/
/AreadelTriangulo1/build/
/AreadelTriangulo2/build/
/ArrayAños/build/
/Arrays/build/
/Arreglos1/build/
/Arreglos2/build/
/Arreglos3/build/
/Asesorias1/build/
/Asesorias2/build/
/Cambio/build/
/Ciclo/build/
