/Asesorias1/nbproject/private/
/EjemplosArray1/nbproject/private/
/Algoritmos1/nbproject/private/
/Areadetriangulo2/nbproject/private/
/Areadeltriangulo1/nbproject/private/
/Areadeltriangulo2/nbproject/private/
/DatosBoleanos2/build/
/EjemplosArray1/build/
